{% extends 'base.html' %}

{% block title %} Workshops {% endblock title %}
{% block workshopactive %} active {% endblock workshopactive %}
{% block body %}
{% load static %}

{% for param in all_workshops %}

<div class="card pt-5" style="width: 18rem;">  
    <img src="/{{ param.banner }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ param.title }}</h5>
      <p class="card-text">{{ param.desc|slice:":70" }}...</p>
      <a href="{{ param.slug }}" class="btn btn-primary">Register Now</a>
    </div>
  </div>
{% endfor %}
{% endblock body %}